@model WebApplication2.Models.Shop

@{
    ViewData["Title"] = "Create";
}



<h4>Vinyl Shop</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="AddOrEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ItemId" />
            <div class="form-group">
                <label asp-for="SingerName" class="control-label"></label>
                <input asp-for="SingerName" class="form-control" />
                <span asp-validation-for="SingerName" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="AlbumName" class="control-label"></label>
                    <input asp-for="AlbumName" class="form-control" />
                    <span asp-validation-for="AlbumName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="PopularSong" class="control-label"></label>
                    <input asp-for="PopularSong" class="form-control" />
                    <span asp-validation-for="PopularSong" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Homeland" class="control-label"></label>
                <input asp-for="Homeland" class="form-control" />
                <span asp-validation-for="Homeland" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="submit" value="Submit" class="btn btn-primary btn-block" />
                </div>
                <div class="form-group col-md-6">
                    <a asp-action="Index"  class="btn btn-secondary btn-block"><i class="fa fa-table"></i>Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
